@model IEnumerable<Arenda.Models.WordFile>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h2>Полный договор аренды</h2>
    @foreach (var m in Model)
    {
        @if (m.WordPda != null)
        {
            <a class="btn" href="@m.WordPda" target="_blank">@m.WordPda</a>
        }
    }
    <form asp-controller="Contract" asp-action="UploadPdaWord" asp-route-id=@TempData["ID"]
          enctype="multipart/form-data" method="post">
        <input type="file" name="PDAWord" />
        <button type="submit" class="btn">Загрузить договор</button>
    </form>
</body>