@model Arenda.Models.Arendator
@{  }
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <a asp-controller="Contract" asp-action="KdaPDF" asp-route-id="@Model.ArendatorId" class="btn">КДА</a>
    <a asp-controller="Information" asp-action="SpecConditions" class="btn">ПДА</a>
    <a asp-controller="Information" asp-action="SpecConditions" class="btn">ДДА</a>
    <a asp-controller="Information" asp-action="SpecConditions" class="btn">Договор склада</a>
    <a asp-controller="Information" asp-action="SpecConditions" class="btn">Учредительные документы</a>
    <a asp-controller="Information" asp-action="SpecConditions" class="btn">Полис</a>
</body>
