@model Arenda.Models.Arendator
@{ ViewBag.Title = "Добавление скидки"; }
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<form asp-action="NewCondition" asp-controller="Information" asp-route-id="@Model.ArendatorId">
    <input asp-for="ArendatorId" type="hidden" />
    <input asp-for="ArendatorName" type="hidden" />
    <input asp-for="ArendatorFloor" type="hidden" />
    <input asp-for="ArendatorType" type="hidden" />
    <input asp-for="LegalPerson" type="hidden" />
    <input asp-for="GeneralDirector" type="hidden" />
    <input asp-for="NumberContract" type="hidden" />
    <input asp-for="DateContract" type="hidden" />
    <input asp-for="AdressLegal" type="hidden" />
    <input asp-for="AdressFact" type="hidden" />
    <input asp-for="AllowAct" type="hidden" />
    <input asp-for="StartAct" type="hidden" />
    <input asp-for="Commercial" type="hidden" />
    <input asp-for="Contact" type="hidden" />
    <input asp-for="Object" type="hidden" />
    <input asp-for="PastArenda" type="hidden" />
    <input asp-for="Curator" type="hidden" />
    <input asp-for="Rate" type="hidden" />
    <input asp-for="Marketing" type="hidden" />
    <input asp-for="Post" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <input asp-for="Logo" type="hidden" />
    <div class="form-group">
        <label asp-for="Sale" class="control-label">Скидки</label>
        <input type="text" asp-for="Sale" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Advertising" class="control-label">Реклама</label>
        <input type="text" asp-for="Advertising" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ParkingCondition" class="control-label">Условия по парковке</label>
        <input type="text" asp-for="ParkingCondition" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PayCondition" class="control-label">Условия по оплате</label>
        <input type="text" asp-for="PayCondition" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>