@model Arenda.Models.Arendator

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
   <div class="full">
       <form asp-action="NewDogovor" asp-controller="Information" asp-route-id="@Model.ArendatorId">
           <input asp-for="ArendatorId" type="hidden" />
           <input asp-for="ArendatorName" type="hidden" />
           <input asp-for="ArendatorFloor" type="hidden" />
           <input asp-for="ArendatorType" type="hidden" />
           <input asp-for="LegalPerson" type="hidden" />
           <input asp-for="GeneralDirector" type="hidden" />
           <input asp-for="NumberContract" type="hidden" />
           <input asp-for="DateContract" type="hidden" />
           <input asp-for="AdressLegal" type="hidden" />
           <input asp-for="AdressFact" type="hidden" />
           <input asp-for="AllowAct" type="hidden" />
           <input asp-for="StartAct" type="hidden" />
           <input asp-for="Email" type="hidden" />
           <input asp-for="Logo" type="hidden" />
           <input asp-for="ProductCategory" type="hidden" />
           <input asp-for="RoomNumber" type="hidden" />
           <input asp-for="Area" type="hidden" />
           <input asp-for="PayCondition" type="hidden" />
           <input asp-for="ExplPay" type="hidden" />
           <input asp-for="MarkPay" type="hidden" />
           <input asp-for="CommunalPay" type="hidden" />
           <input asp-for="Curs" type="hidden" />
           <input asp-for="IndexSize" type="hidden" />
           <input asp-for="AvansPay" type="hidden" />
           <input asp-for="Deposit" type="hidden" />
           <input asp-for="DateOpen" type="hidden" />
           <input asp-for="PayStart" type="hidden" />
           <input asp-for="RepairTime" type="hidden" />
           <input asp-for="ElectricPower" type="hidden" />
           <input asp-for="TermArenda" type="hidden" />
           <div class="form-group">
               <label asp-for="Commercial" class="control-label">Потенциальные арендаторы</label>
               <input type="text" asp-for="Commercial" class="form-control" />
           </div>
           <div class="form-group">
               <label asp-for="Contact" class="control-label">Контактные данные</label>
               <input type="text" asp-for="Contact" class="form-control" />
           </div>
           <div class="form-group">
               <label asp-for="Object" class="control-label">Предыдущий объект</label>
               <input type="text" asp-for="Object" class="form-control" />
           </div>
           <div class="form-group">
               <label asp-for="PastArenda" class="control-label">Предыдущая аренда</label>
               <input type="text" asp-for="PastArenda" class="form-control" />
           </div>
           <div class="form-group">
               <label asp-for="Curator" class="control-label">Куратор</label>
               <input type="text" asp-for="Curator" class="form-control" />
           </div>
           <div class="form-group">
               <input type="submit" value="Отправить" class="btn btn-default" />
           </div>
       </form>
   </div>
</body>
