@model IEnumerable<Arenda.Models.Arendator>
@{ ViewBag.Title = "Специальные условия"; }
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="button-item">
        <a asp-controller="Information" asp-action="NewCondition" class="btn">Добавить скидки</a>
    </div>
    <table class="content-table">
        <tbody>
            <tr><td>Скидки</td></tr>
            <tr><td>Бесплатная реклама</td></tr>
            <tr><td>Спец. условия по парковке</td></tr>
            <tr><td>Спец. условия по платежам</td></tr>
        </tbody>
        @foreach (var item in Model)
        {
        <tr><td>@item.Commercial</td></tr>}
    </table>
</body>
